.elements__single {
  max-width: 440px;
  margin: 0 auto;
  margin-top: 46px;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
  gap: 17px;
  list-style: none;
}

@media all and (max-width: 960px) {
  .elements {
    margin-right: 19px;
    margin-left: 19px;
  }
}
