.footer {
  max-width: 880px;
  margin: 0 auto;
  margin-top: 67px;
  margin-bottom: 60px;
}

@media all and (max-width: 960px) {
  .footer {
    margin-right: 19px;
    margin-left: 19px;
  }
}

@media all and (max-width: 635px) {
  .footer {
    margin-top: 48px;
    margin-bottom: 36px;
  }
}
