.popup__text {
  max-width: 358px;
  min-height: 14px;
  margin: 0;
  padding: 13px 4px;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.21;
}
